* {
    margin: 0;
    padding: 0;
}

.position{
    min-height: 50vh;
    position: relative;
    background-color:#2c3e50;
}
.container {
    position: relative;
    background: #2c3e50;
    min-height: 100vh;
  }
  
  .wave {
    position: absolute;
    height: 143px;
    width: 100%;
    background: #2c3e50;
    bottom: 0;
  }
  
  .wave::before, .wave::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50% 100%;
  }
  
  .wave::before {
    width: 55%;
    height: 100%;
    background-color: #2c3e50;
    right: -1.5%;
    top: 40%;
  }
  .wave::after {
    width: 55%;
    height: 109%;
    background-color: #fff;
    left: -1.5%;
    top: 60%;
  }         