* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.position{
    min-height: 40vh;
    position: relative;
   
}
.container {
    position: relative;
    min-height: 40vh;
    background-color:#070D1B;
   
  }
  .vl {
    border-left: solid white;
    height: 13px;
    width: 18px;
  }
  .text-white{
    color: white;
  }
  .nav-list {
    width: 80%;
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 25.6px;
    color: white;
    padding-left: 10%;
  }
  .nav-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    color: white;
   
  }
.nav-items a{
  color: white;
}
.text-yellow {
  color: #FEC544;
}
  .contact-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 10%;
  }
  .icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .content {
    height: 70vh;
    display: flex;
    justify-content: space-between;
  }
  .info {
    margin-left: 8%;
    margin-top: 7%;
  }
  .info h1{
    font-size: 70px;
    color: white;
  }
  .info p{
    line-height: 22px;
    color: white;
  }
  .info a {
    background:#FEC544;
    padding: 10px 18px;
    color: white;
    display:inline-block;
    margin-top: 30px;
    border-radius: 5px;


  }
  .image-box {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
  }
  .image-box img {
    height: 100;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
  
  /* .wave {
    position: absolute;
    height: 143px;
    width: 100%;
    background: #070D1B;
    bottom: 0;
  }
  
  .wave::before, .wave::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50% 100%;
    overflow-x: hidden;
  }
  
  .wave::before {
    width: 55%;
    height: 100%;
    background-color:#070D1B;
    right: -1.5%;
    top: 40%;
    overflow-x: hidden;
  }
  .wave::after {
    width: 55%;
    height: 109%;
    background-color: #fff;
    left: -1.5%;
    top: 60%;
    overflow-x: hidden;
  }     */
  .about-me {
    width: 100vw;
    height: 100vh;
  margin-top: 115px;
  }

  .about-container {
    margin-top: 10px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }
  .ds-color {
    background-color: #FEC544;
   
  }
  .image {
    margin-right: 30rem;
  }
  .mr-40 {
    margin-right: 30rem;
  }
  .drop-down {
    margin-top:12srem;
  }
  .about-info{
   width: 40%; 
  }
  .about-info h1{
    font-size: 70px;
    color: black;
  }
  .about-info p{
    line-height: 22px;
    color: black;
  }

  .about-img  {
    width: 100%;
   }
   #skills {
    width: 100%;
    height: 100%;
    background-color: #070D1B;
   }
 .skills-container{
  padding-left: 50px;
  width: 80%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
 }
 .skills-details {
  width: 325px;
  background-color: #FEC544;
  color: black;
  border-radius: 10px;
  box-shadow: 5px;
  text-align: center;
 }
   /* .trans { 
    background-color: #070D1B;
    position: absolute;
    margin-bottom: 5rem;
   padding: 0;
    transform: translateY(-50);
   
  
    color: #FEC544;
    text-transform:uppercase ;
    text-shadow: o 5px 10px rgba(0,0,0,1);
    mix-blend-mode: overlay;
   }

  .about-content{
    position: absolute;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
.image {
  position: relative;
  right: 15px;
}
  .about-img  {
   width: 70%;
  }
  .box{
   margin-top: 50px;
    height: 54px;
    width: 17%;
  }
  .ds-color {
    background-color: #FEC544;
   
  } */
 