* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

body{
  font-family: "Josefin Sans", sans-serif;
}
.container {
    position: relative;
    background-color:#070D1B;
    background-size: contain;
    overflow-y: hidden;
    min-height: 100vh;
    margin: 0;
    padding: 0;
   
  }
  .vl {
    border-left: solid white;
    height: 13px;
    width: 18px;
  }
  .text-white{
    color: white;
  }
  .nav-list {
    width: 80%;
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 25.6px;
    color: white;
    padding-left: 10%;
  }
  .nav-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    color: white;
   
  }
.nav-items a{
  color: white;
}
.text-yellow {
  color: #FEC544;
}
  .contact-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 10%;
  }
  .icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .content {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;

  }
  .info {
    margin-left: 8%;
    margin-top: 7%;
    font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  }
  .info h1{
    font-size: 70px;
    color: white;
  }
  .info p{
    margin-top: 5px;
    line-height: 22px;
    color: white;
  }
  .info a {
    background:#FEC544;
    padding: 10px 18px;
    color: white;
    display:inline-block;
    margin-top: 30px;
    border-radius: 5px;


  }
  .image-box {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
  }
  .image-box img {
    height: 100;
    width: 50;
    position: absolute;
    left: 50%;
    bottom: 180px;
    transform: translateX(-90%);
  }
  

  .about-me {
    width: 100vw;
    height: 100vh;
  }

  .about-container {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: row;
    justify-content: space-between;
    align-items: center;
   
  } 
 
  .image {
    margin-right: 18rem;
  }
  .mr-40 {
    margin-right: 30rem;
  }
  .drop-down{
    height:700px;
    width: 20%;
    background-color: #FEC544;
    margin: 0;
    padding: 0;
  }
  .about-info{
   width: 40%; 
  }
  .about-info h1{
    font-size: 70px;
    color: black;
  }
  .about-info p{
    line-height: 22px;
    color: black;
    margin-top: 15px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .about-img  {
    width: 100%;
    margin-left: -60px;
   }
   #skills {
    width: 100%;
    height: 100%;
    background-color: #070D1B;
   }
 .skills-container{
  padding-left: 50px;
  width: 80%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
 }
 .skills-details {
  width: 325px;
  background-color: #FEC544;
  color: black;
  border-radius: 10px;
  box-shadow: 5px;
  text-align: center;
 }
 .skills {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;*/
background-color:#070D1B ;
}
.wavy-div { 
  width: 80%;
  margin-left: 214px;
  position: relative;
  display: flex;
  justify-content:space-between;
  column-gap: 80px;
  align-items: center ;
  color: white;
}
.wavy-div .box {
position: relative;
height: 400px;
width: 300px;
display: flex;
justify-content: space-between;
column-gap: 10px;
align-items: center;
-webkit-box-reflect:below 15px linear-gradient(transparent,transparent,rgba(0,0,0,.2));
}
.wavy-div .box :hover {
color: #070D1B;
}
.wavy-div .box::before{
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   border: 4px solid  #FEC544;
   background: black; 
   filter: url("#wavy");

}
.wavy-div .box .content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  text-align: center;
   transition: 0.5s;

}
.wavy-div .box:hover::before {
background:white ;
transition: 0.5s;
}
.wavy-div .box::after{
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  border: 4px solid  #FEC544;
  border-right: none;
  background: black; 
  background: rgba(255,255,255,.1);
  filter: url("#wavy");

}
.form {
  display: flex;
  /* min-height: 100vh;
  width: 100%; */
  justify-content: space-between;
  align-items: center;
  background:#070D1B ;
}
.last-sec{
 background:#070D1B ;
}
.common {
  width: 680px;
  margin-left: -38px;
  display: flex;
  flex-direction: column;
 justify-content: space-between;
   row-gap: 20px;

}
button {
  
  color: white;
  margin-left: 19px;
  border: 2px solid white;
  background: transparent;
  width: 69%;
  padding: 0 30px;
  line-height: 80px;
  border-radius: 10px;
}
.entryarea {
  position: relative;
  height: 80px;
  line-height: 80px;
   color: white; 
   display: flex;
   flex-direction: column;
  justify-content: space-between;
}
input {
  position: absolute;
  width:60% ;
  outline: none;
  font-size: 2.2em;
  padding: 0 30px;
  line-height: 80px;
  border-radius: 10px;
  border: 2px solid white;
  background: transparent;
  transition: 0.1s ease;
  z-index: 1111;
   
}
.labelline { 
position: absolute;
font-size: 1.6em;
color: white;
padding: 0 25px;
margin: 0 20px;
transition: 0.2s ease;
}

input:focus,
input:valid {
  color: yellow;
  border: 4px solid #FEC544;
}
input:focus + .labelline,
input:valid + .labelline{
  color: #FEC544 ;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  transform: translate(-15px,-16px) scale(0.88);
  z-index: 1111;
  background-color: #070D1B;

} 
.confirm {
  width: 40%;
  padding-left: 45px;

}
.red {
  color: #FEC544;
}
.play {
  margin-left: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.footer-content{
  width: 100%;
  min-height: 50vh;
  background-color: #070D1B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 142px;
}
 .contact-info {
  display: flex;
  flex-direction: column;
  width: 31%;
 }
 .footer-icon {
  margin-bottom: 70px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
 }
 .play ul{
  display: flex;
 }
 .play ul li {
  list-style: none;
  margin: 0 15px;
 }
 .play ul li .fa-brands {
  font-size: 30px;
  line-height: 60px;
  color:  #070D1B;
 }
 .play ul li a {
  display: block;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #FEC544;
  text-align: center;
 }
 .trans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
 }
 .copy-right {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
 }
 /* .about-t {
  position: relative;
  font-size: 5rem;
  font-weight: bold;
}

.text-b {
  color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
} */

.text-f {
  color: #FEC544; 
}
.postion-relative{
  position: relative;
}

.position-absolute{
  position: absolute;
}

.text-stroke{
  -webkit-text-stroke:1px  #FEC544;
  font-size: calc(1rem + 8.5vw);
}

.text-section{
  display: flex;
  max-width: 640px;
  margin-left:auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.about-header-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 87px;
}
.about-header-wrapper2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 87px;
}

.text-2xl{
  font-size: 30px;
}
.text-section2{
  display: flex;
   max-width: 640px;
  margin-left:auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}